.vignette-name {
    font-size: 22px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.header .stage-text {
    font-size: 16px;
    font-weight: normal;
    font-family: arial, sans-serif;
    white-space: pre-line;
}

.question .alert {
    width: fit-content;
}

.question input {
    width: fit-content;
}

.question .numeric-response {
    padding: 5px 0;
}

.question div.answer-cnt {
    margin: 5px 0;
    padding: 0px 5px;
    border-radius: 8px;
}

.question div.answer-cnt.missed-multi-answer {
    border: 1px solid;
    padding: 5px 5px;
}

.question div.answer-cnt.missed-multi-answer.incorrect-selected {
    border-color: #ff0000;
}

.question div.answer-cnt.missed-multi-answer.correct-omission {
    border-color: #ff0000;
}

div.numeric-suffix {
    display: inline-block;
    margin-left: 5px;
}

input.form-control.numeric-form-control {
    display: inline-block;
    margin-left: 0px;
}
