.vignette-name {
    font-size: 22px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.header .stage-text {
    font-size: 16px;
    font-weight: normal;
    font-family: arial, sans-serif;
    white-space: pre-line;
}

.question .form-group .alert {
    width: fit-content;
}