.vignette-name {
    font-size: 22px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.content > div > div {
    height: 100%;
}

div.survey {
    height: 100%;
}

.survey .stage-cnt {
    height: 100%;
}

.stage-cnt .stage {
    height: calc(100% - 35px);
    overflow-y: auto;
    padding: 10px;
}

.stage-cnt .controls {
    height: 35px;
    border-top: 1px solid #ccc;
    padding: 4px;
}

.stage-cnt .controls button {
    margin-right: 10px;
}

.stage-cnt .controls button.link-btn {
    margin-right: 10px;
    padding: 0;
}

.stage-cnt .controls button a {
    padding: 0 10px;
    color: #333;
    line-height: 2.3;
}

.header .vignette-text-cnt {
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
    border-radius: 0;
    padding: 5px;
    margin-top: 5px;
}

.header .stage-text {
    font-size: 16px;
    font-weight: normal;
    font-family: arial, sans-serif;
    white-space: pre-line;
}

.question .alert {
    width: fit-content;
}

.question input {
    width: fit-content;
}

.question .numeric-response {
    padding: 5px 0;
}

.question div.answer-cnt {
    margin: 5px 0;
    padding: 0px 5px;
    border-radius: 8px;
}

.question div.answer-cnt.missed-multi-answer {
    box-shadow: 0 0 8px 1px red;
    padding: 0 5px;
}

.question div.answer-cnt.missed-multi-answer.incorrect-selected {
    box-shadow: 0 0 8px 1px red;
}

.question div.answer-cnt.missed-multi-answer.correct-omission {
    box-shadow: 0 0 8px 1px red;
}

div.numeric-suffix {
    display: inline-block;
    margin-left: 5px;
}

input.form-control.numeric-form-control {
    display: inline-block;
    margin-left: 0px;
}

.question div .numeric-response-icon {
    display: inline-block;
    margin-left: 10px;
}

.question div.numeric-response-cnt {
    padding: 5px;
    margin-bottom: 10px;
}

.question div.numeric-response-cnt.success {
    color: #3c763d;
    background-color: #dff0d8;
    border: none;
    box-shadow: 0 0 8px 1px green;
}

.question div.numeric-response-cnt.success input {
    color: #3c763d;
    background-color: #dff0d8;
}

.question div.numeric-response-cnt.danger {
    color: #a94442;
    background-color: #f2dede;
    border: none;
    box-shadow: 0 0 8px 1px red;
}

.question div.numeric-response-cnt.danger input {
    color: #a94442;
    background-color: #f2dede;
}

.question .verify-checkbox {
    margin-bottom: 5px;
}

.question .verify-checkbox svg {
    margin-right: 5px;
}

.question .verify-checkbox .checkbox-text {
    display: inline-block;
}

.question .form-group > div {
    padding: 1px 5px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 8px 1px #ccc;
    margin: 10px 0;
}
.question .form-group .success {
    color: #3c763d;
    background-color: #dff0d8;
    border: none;
    box-shadow: 0 0 8px 1px green;
}
.question .form-group .danger {
    color: #a94442;
    background-color: #f2dede;
    border: none;
    box-shadow: 0 0 8px 1px red;
}
