.content.main-pane .calculator-button {
    height: 30px;
}
.calculator-button svg {
    margin-right: 5px;
}

.calculator-button button {
    padding: 0 5px;
}

.calculator .header {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #337ab7;
    text-align: center;
    text-transform: uppercase;
    height: 34px;
}

.calculator .footer {
    background: #333;
    vertical-align: center;
    height: 58px;
}

.calculator .footer .footer-header {
    height: 25px;
    background-color: #337ab7;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding-top: 2px;
    text-align: center;
}

.calculator .footer .footer-body {
    height: 33px;
    padding: 5px 3px;
}

.calculator .footer button {
    padding: 0 5px;
    font-weight: bold;
}

.calculator {
    background: #efefef;
    border: 1px solid rgba(0,0,0,0.1);
    max-height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.calculator .form-group {
    padding: 0 5px;
    overflow: auto;
    height: calc(100% - 67px);
}

.calculator .form-group .form-control {
    width: 50%;
    display: inline-block;
}

.calculator .badge-holder {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.calculator .footer .badge {
    background: #1ca91c;
}

.calculator .footer .clear-holder {
    text-align: center;
    display: inline-block;
    width: 35%;
}

.calculator .footer .badge-holder {
    width: 65%;
}

.calculator .form-group .control-label {
    display: block;
}

.calculator label {
    font-size: 12px;
    font-family: sans-serif;
}

.calculator .drug-box {
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
}

