.App {
  text-align: center;
}

html, body {
    height: 100%;
    background-color: #fffff0;
}

.row {
    height: calc(100% - 82px);
    overflow: hidden;
}

.content {
    display: block;
    width: 100%;
    height: 100%;
}

.content > div {
    padding: 0;
    height: 100%;
}

.content.main-pane {
    padding: 15px 50px 15px 15px;
    overflow: auto;
}

.content.main-pane > div {
    height: 100%;
}

.flexi-cnt {
    height: 50%;
    width: 100%;
}

.q-details {
    height: 50%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

.feedback-cnt {
    text-align: center;
}

.calculator-button {
    position: absolute;
    top: 2px;
    right: 0px;
}

.calc-cnt {
    max-height: 100%;
}

.footer.row {
    background-color: #333;
    color: #fff;
    height: 30px;
    display: flex;
}

.footer.row > div {
    height: 100%;
    padding: 4px 10px 0 10px;
    flex: 1;
}

.footer.row > div.right-block {
    text-align: right;
}
.header .user-info {
    float: right;
}

.header .user-info svg {
    margin-left: 10px;
    font-size: 25px;
}

.res-cnt {
    height: 100%
}

.res-cnt .chart-cnt {
    height: calc(100% - 50px);
}

.res-cnt .res-dash-filters {
    height: 60px;
    padding: 5px;
    border-bottom: 2px solid #333;
}

.res-cnt .detail-filters > div {
    display: inline-block;
}

.res-cnt .detail-filters > div div.radio {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
}

.res-cnt .detail-filters .result-mode {
    float: right;
}

.res-cnt .full-chart {
    flex: 9;
    padding: 10px;
}

.full-chart .half {
    height: 50%;
}

.res-cnt .callout {
    border: 4px solid #337ab7;
    padding: 10px;
    height: 30%;
}

.res-cnt .callout-spec {
    overflow-y: auto;
}

.res-cnt .callout.callout-spec {
    border-color: #993441;
    margin-top: 20px;
    height: 60%;
}

.alert.alert-info.res-callout-alert {
    padding: 5px;
    margin-bottom: 10px;
}

.res-cnt .callout .callout-left {
    float: left;
    margin-top: 10px;
}

.res-cnt .callout .callout-info {
    margin-right: 5px;
}

.res-cnt .callout .callout-info:hover {
    cursor: pointer;
}

.res-cnt .callout .callout-item > div {
    display: inline-block;
}

.res-cnt .callout .callout-item-value span {
    margin-left: 5px;
}

.res-cnt .callout .callout-item-value svg.background-icon {
    border-radius: 20px;
}

.res-cnt .callout .callout-item-value svg.correct {
    background-color: #dff0d8;
}

.res-cnt .callout .callout-item-value svg.incorrect {
    background-color: #f2dede;
}


.res-cnt .callout-spec .spec-name {
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat";
}

.res-cnt .callout-spec .spec-vig-name {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat";
}

.res-cnt .spec-percent {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.res-cnt .spec-n {
    font-size: 10px;
    display: inline-block;
}

.res-cnt .callout .callout-item > div.spec-breaker {
    border-bottom: 1px solid #000;
    margin: 3px;
    display: block;
}

.res-cnt .callout .callout-item > div.spec-breaker.dash {
    border-bottom: 1px dashed #000;
}

.res-cnt .spec-stats {
    padding-left: 10px;
}

.res-cnt .most-recent {
    flex: 2 1;
}

.res-cnt .callout .callout-right {
    float: right;
    border: 4px solid #337ab7;
    border-radius: 50%;
    margin: -42px;
    background: white;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    height: 60px;
    width: 60px;
    font-size: 16px;
}

.res-dash-cnt {
    margin-top: 40px;
    height: calc(100% - 85px);
    width: 100%;
    display: flex;
}

.q-chart-cnt {
    height: 100%;
    width: 350px;
}

