.App {
  text-align: center;
}

html, body {
    height: 100%;
    background-color: #fffff0;
}

.row {
    height: calc(100% - 82px);
    overflow: hidden;
}

.content {
    display: block;
    width: 100%;
    height: 100%;
}

.content > div {
    padding: 0;
    height: 100%;
}

.content.main-pane {
    padding: 15px 50px 15px 15px;
    overflow: auto;
}

.content.main-pane > div {
    height: 100%;
}

.flexi-cnt {
    height: 50%;
    width: 100%;
}

.q-details {
    height: 50%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

.calculator-button {
    position: absolute;
    top: 2px;
    right: 0px;
}

.calc-cnt {
    max-height: 100%;
}

.footer.row {
    background-color: #333;
    color: #fff;
    height: 30px;
}

.footer.row > div {
    height: 100%;
    padding: 4px 10px 0 0;
    text-align: right;
}

.header .user-info {
    float: right;
}

.header .user-info svg {
    margin-left: 10px;
    font-size: 25px;
}

.res-cnt {
    height: 100%
}

.res-cnt .chart-cnt {
    height: calc(100% - 50px);
}

.res-cnt .res-dash-filters {
    height: 50px;
}

.res-cnt .detail-filters > div {
    display: inline-block;
}

.res-cnt .detail-filters > div div.radio {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
}

.res-cnt .detail-filters .result-mode {
    float: right;
}

.q-chart-cnt {
    height: 100%;
    width: 350px;
}

