.sidebar {
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.45);
    height: 100%;
    padding: 5px;
    overflow: auto;
    background-color: #337ab7;
}

.sidebar label {
    color: #fff;
}

.sidebar .menu-item {
    border-top: 1px dashed #333;
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
}

.sidebar .menu-item:hover {
    color: #fff;
    background-color: #333;
    text-shadow: 0 0 5px #fff;
    border-radius: 5px;
}

.sidebar .menu-item.selected {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

.sidebar .alert-box {
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 0;
    border: 1px solid #333;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
    padding: 2px;
    width: 95%;
    background: #fff;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    transition: opacity 0s ease 0s;
}

.sidebar .alert-box.on {
    opacity: 1;
    transition: opacity 1s ease 0s;
}