html, body {
    height: 100%;
}

.login-background {
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.7);
    background-image: url("cross-hatch-texture.png");
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%232a2a2b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23333334' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%232d2c2f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    overflow: hidden;
}

body {
    margin: 0;
    text-align: center;
}

.loginpage-header {
    height: 50px;
    background-color: #333;
    color: #ccc;
    border-bottom: 3px solid #337ab7;
    font-size: 18px;
    font-family: 'Montserrat', Arial, arial, sans-serif;
    padding: 12px;
}

.content-wrapper {
    width: 400px;
    max-width: 100%;
    margin-top: 10%;
    display: inline-block;
}

.content {
    width: 100%;
    display: flex;
    font-family: 'Montserrat', Arial, arial, sans-serif;
    background: rgba(25,25,25,0.7);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 #337ab7;
    padding: 5px 10px;
}

.login {
    height: 100%;
    width: 100%;
    padding: 15px 5px;
    position: relative;
}

.forgot-link {
    color: #337ab7;
    margin: 0 10px;
    font-size: 15px;
    float: left;
}

.forgot-link:hover {
    cursor: pointer
}

.login-inputs {
    margin-bottom: 5px;
}
.login-btn-grp {
    padding-top: 10px;
}

#login-feedback, #registration-feedback {
    margin-top: 15px;
}

.header {
    height: 50px;
    font-size: 18px;
    font-family: 'Montserrat', Arial, arial, sans-serif;
    text-align: center;
    color: #999;
}

.register {
    height: 100%;
    width: 100%;
    padding: 15px 5px;
    position: relative;
}

.off {
    display: none;
}

#specialties {
    border-width: 1px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path stroke="#fff" fill="#fff" d="M4 8L0 4h8z"/></svg>');
    padding: 6px;
    padding-right: 1.5em
}

button.reg, input.reg {
    float: right;
}

button.h-btn {
    position: absolute;
    right: 5px;
    padding: 0 3px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(Montserrat_font.woff) format('woff');
}